:root{
    --arena-height: 300px;
    --arena-width: 600px;
    --bumper-height: 40px;
    --bumper-width: 100px;
    --ball-width: 20px;
}
html,body{
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing: border-box !important;
}
#game-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
#title{
    display: block;
    font-family: IMPACT;
    animation: titlecoloranimation 4s linear infinite;
    text-align: center;
}
@keyframes titlecoloranimation{
    0%{color: #333;}
    25%{color: red;}
    50%{color: green;}
    75%{color: blue;}
    100%{color: #333;}
}
#arena{
    width:var(--arena-width);
    height:var(--arena-height);
    position: relative;
    background-color: #84d278;
    outline: double 5px #333;
    box-shadow: 12px 11px 28px -10px rgba(0,0,0,0.75) inset;
}
#result-banner{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #ddd;
    color: #fff;
    z-index: 3;
    font-family: calibri;
    font-size: 40px;
    transition: all 400ms ease;
}
#bumper{
    position: absolute;
    bottom: 0px;
    left: calc(50% - var(--bumper-width)/2);
    width: var(--bumper-width);
    height: var(--bumper-height);
    background-color: #999;
    border-top:solid 10px #333;
    box-sizing: border-box;
    color:#fff;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}
#ball{
    position: absolute;
    box-sizing: border-box;
    border:solid 4px #0751ab;
    width: var(--ball-width);
    height: var(--ball-width);
    border-radius: 100%;
    top: calc(var(--arena-height) - var(--ball-width) - var(--bumper-height));
    left: calc(50% - var(--ball-width)/2);
    background-color: #0a66d6;
    opacity: 0.8;
}
#brick-container{
    width: 70%;
    height: 100px;
    margin: 0px auto;
    text-align: center;
    border-collapse: collapse;
}
    #brick-container tr td{
        height: 40px;
        padding: 0px;
    }
    #brick-container .bricks{
        background-color: rgb(189, 91, 6);
        background: repeating-linear-gradient( 45deg, rgb(189, 91, 6), rgb(189, 91, 6) 13px, #ddd 12px, #ddd 14px );
        display: block;
        height: 100%;
        width: 100%;
    }
#scoreboard{
    margin-top: 10px;
    background: #b0b0b0;
    padding: 10px;
    float: left;
    clear: right;
    font-family: 'Courier New', Courier, monospace;
    outline: dashed 4px #888;
}